[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
# [[source]]
# url = "https://pypi.rasa.com/simple"
# verify_ssl = true
# name = "rasa"

[packages]
paddlepaddle = "==2.0.2"
paddlenlp = "==2.0.0rc20"
rasa = "==2.6.0"
wechaty = "==0.8.3"
wechatpy = "==2.0.0a7"
pendulum = "==2.1.2"

[dev-packages]

[requires]
python_version = "3.7"
